<html lang="ko">
<head>
  <meta charset="utf-8">

  <title>Tell Me Your Color</title>
  <meta name="description" content="Figma htmlGenerator">
  <meta name="author" content="htmlGenerator">
  <link href="https://fonts.googleapis.com/css?family=Bodoni+MT&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">        
</head>
<style>

</style>          
<body>
<div class="top">
  <div class="text">TELL<br>ME<br>YOUR<br>COLOR</div>
</div>
<div class="bottom">
  <button onclick="goToSecondPage()">START</button>
</div>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>