* {
    text-align: center;
}

.title {
    font-size: 50px;
    padding: 30px 0 50px 0;
}

.skin_type {
    padding-bottom: 40px;
} 

.importance {
    padding-bottom: 40px;
}

.skin_trouble{
    padding-bottom: 40px;
}

.category {
    font-size: 20px;
    margin-bottom: 10px;
}

.btn {
    font-size: 20px;
    margin-top: 10px;
}

.btn-dark {
    margin-top: 100px;
}